
@media only screen and (min-width:768px ) {
  
.one{
background-color:pink;
padding:5%;
width:80%;
margin-left:-30%;
}

.one hr{border-color:cornflowerblue;}

.zero{margin-right:0;}

.one a{
	margin-left:2%;
}

.all{
	margin-left:28%;
	margin-top:4%;
	display:flex;
	width:50%;
	color:gray;
}

.zero img{
	width:65%;
	
}
}




@media only screen and (max-width:550px){
	
 
.one{
background-color:azure;
padding:5%;
margin-left:0;
}


.one a{
	margin-left:2%;
}
.one hr{border-color:gray;}


.all{
	
	margin-top:4%;
	display:flex;
	font-size:85%;
	color:gray;
	background-color:azure;
}

.zero img{
	width:100%;
	
}

}